section .mis_vis, .testimonios .div_paciente {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 100;
}
.menu .menu-div {
  justify-content: end;
}
.menu .menu-div .navbar-modi {
  color: rgb(35, 114, 189);
  display: flex;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-around;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.menu .menu-div .navbar-modi .menu-li a {
  padding: 5px;
}
.menu .menu-div .navbar-modi .menu-li a:hover {
  color: rgb(34, 188, 191);
}
.menu .menu-div .navbar-modi .botoncita a {
  color: white;
  background-color: rgb(35, 114, 189);
}
.menu .menu-div .navbar-modi .botoncita a:hover {
  color: white;
  background-color: rgb(34, 188, 191);
}

.carrusel-principal .fondo1, .carrusel-principal .fondo2, .carrusel-principal .fondo3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.carrusel-principal .fondo1 {
  background-image: url(../imagenes/DLimg1.jpg);
}
.carrusel-principal .fondo2 {
  background-image: url(../imagenes/DLimg2.jpg);
}
.carrusel-principal .fondo3 {
  background-image: url(../imagenes/DLimg3.jpg);
}
.carrusel-principal .carrusel-h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(34, 188, 191);
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em rgb(35, 114, 189);
}
.carrusel-principal .carrusel-p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(34, 188, 191);
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em rgb(35, 114, 189);
}
.carrusel-principal .carrusel-flecha {
  margin-top: 150px;
}

.trata_inicio h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
  text-align: center;
  padding-top: 30px;
  flex-wrap: wrap;
}
.trata_inicio .tratamientos-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 30px;
}
.trata_inicio .tratamientos-card .esteticos h3, .trata_inicio .tratamientos-card .clinicos h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: gray;
  text-align: center;
  padding: 10px;
}
.trata_inicio .tratamientos-card .esteticos p, .trata_inicio .tratamientos-card .clinicos p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  color: gray;
  margin: 1px;
  padding-bottom: 20px;
}
.trata_inicio .btn_conoce_trata {
  text-align: center;
  padding-bottom: 50px;
}
.trata_inicio .btn_conoce_trata:hover {
  transform: scale(1.03);
}
.trata_inicio .btn_conoce_trata a {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: rgb(35, 114, 189);
  margin: 20px;
}
.trata_inicio .btn_conoce_trata a:hover {
  color: rgb(34, 188, 191);
}

.comprometidos {
  background: rgb(35, 114, 189);
  background: radial-gradient(circle, rgb(35, 114, 189) 0%, rgb(34, 188, 191) 100%);
  width: 100%;
  height: 850px;
  flex-wrap: wrap;
}
.comprometidos h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 10px;
}
.comprometidos .video {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.testimonios h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
  text-align: center;
  padding-top: 50px;
}
.testimonios .div_paciente {
  font-family: "Raleway", sans-serif;
  grid-template-areas: "pac1 ." ". pac2";
}
.testimonios .div_paciente .paciente1, .testimonios .div_paciente .paciente2 {
  font-size: 30px;
  margin: 30px;
  padding-top: 30px;
  color: gray;
}
.testimonios .div_paciente .paciente1 {
  text-align: left;
  grid-area: pac1;
}
.testimonios .div_paciente .paciente1 p {
  animation-duration: 3s;
  animation-name: bounce;
}
@keyframes bounce {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.testimonios .div_paciente .paciente2 {
  text-align: right;
  grid-area: pac2;
}
.testimonios .div_paciente .paciente2 p {
  animation-duration: 3s;
  animation-name: bounce1;
}
@keyframes bounce1 {
  from {
    margin-left: -100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.clinicas {
  background: rgb(34, 188, 191);
  background: linear-gradient(0deg, rgb(34, 188, 191) 0%, rgb(35, 114, 189) 100%);
}
.clinicas h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-top: 50px;
}
.clinicas .clinicas-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  animation-duration: 3s;
  animation-name: fall;
}
@keyframes fall {
  from {
    margin-top: -20%;
  }
  to {
    margin-top: 0%;
  }
}
.clinicas .clinicas-box h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}
.clinicas .clinicas-box p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.footer_general {
  background: rgb(35, 114, 189);
  background: linear-gradient(0deg, rgb(35, 114, 189) 0%, rgb(34, 188, 191) 100%);
  width: 100%;
}
.footer_general .container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.footer_general .container_footer .box_footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.footer_general .container_footer .box_footer h2 {
  font-family: "Quicksand", sans-serif;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(35, 114, 189);
  text-decoration: none;
}
.footer_general .container_footer .box_footer .logo_footer img {
  width: 180px;
}
.footer_general .container_footer .box_footer .texto_footer {
  font-family: "Quicksand", sans-serif;
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: silver;
}
.footer_general .container_footer .box_footer a, .footer_general .container_footer .box_footer p {
  font-family: "Raleway", sans-serif;
  max-width: 350px;
  font-weight: 500;
  font-size: 15px;
  color: silver;
  text-decoration: none;
}
.footer_general .container_footer .box_footer a:hover {
  color: rgb(35, 114, 189);
}
.footer_general .box_copy p {
  font-family: "Raleway", sans-serif;
  color: silver;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.tratamientos_dentales {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
}
.tratamientos_dentales .titulo_tratamientos {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.div_principal_trata {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.div_principal_trata .tarjeta_info {
  margin: 20px;
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  width: 400px;
}
.div_principal_trata .tarjeta_info:hover {
  background: rgb(34, 188, 191);
  background: linear-gradient(0deg, rgb(34, 188, 191) 0%, rgb(35, 114, 189) 100%);
}
.div_principal_trata .tarjeta_info .titulo-tarjeta {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: rgb(34, 188, 191);
  text-align: center;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em silver;
}
.div_principal_trata .tarjeta_info .texto-tarjeta {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: gray;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em silver;
}

section .nosotros p {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
  text-align: center;
  padding-top: 30px;
}
section .texto_nosotros p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
section .mis_vis {
  background: rgb(35, 114, 189);
  background: radial-gradient(circle, rgb(35, 114, 189) 0%, rgb(34, 188, 191) 100%);
  font-family: "Raleway", sans-serif;
  grid-template-areas: "mis ." ". vis";
}
section .mis_vis .mision, section .mis_vis .vision {
  font-size: 30px;
  margin: 30px;
  padding-top: 30px;
  color: white;
}
section .mis_vis .mision {
  text-align: left;
  grid-area: mis;
}
section .mis_vis .mision p {
  animation-duration: 3s;
  animation-name: bounce;
}
@keyframes bounce {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
section .mis_vis .vision {
  text-align: right;
  grid-area: vis;
}
section .mis_vis .vision p {
  animation-duration: 3s;
  animation-name: bounce1;
}
@keyframes bounce1 {
  from {
    margin-left: -100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
section .mis_vis .vis_titulo, section .mis_vis .mis_titulo {
  font-size: 50px;
}

/*Especilistas*/
.conoce_titulo {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
  text-align: center;
  padding-top: 30px;
}

.doctores-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 30px;
  max-width: 800px;
  justify-content: center;
}
.doctores-card h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: rgb(34, 188, 191);
  padding-top: 10px;
  padding-bottom: 10px;
}
.doctores-card p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.titulo_agenda {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: rgb(34, 188, 191);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.agenda_cita {
  display: flex;
  justify-content: space-around;
  background: rgb(34, 188, 191);
  background: linear-gradient(0deg, rgb(34, 188, 191) 0%, rgb(35, 114, 189) 100%);
  width: 100%;
  height: 100%;
}
.agenda_cita .paciente_nuevo h2, .agenda_cita .paciente_dentalook h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.agenda_cita .paciente_nuevo .formato-agenda, .agenda_cita .paciente_dentalook .formato-agenda {
  padding: 30px;
  margin: 30px;
}
.agenda_cita .paciente_nuevo .formato-agenda label, .agenda_cita .paciente_dentalook .formato-agenda label {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  color: silver;
}
.agenda_cita .paciente_nuevo .boton-enviar, .agenda_cita .paciente_dentalook .boton-enviar {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  background: rgb(35, 114, 189);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border-color: white;
}
.agenda_cita .paciente_nuevo .boton-enviar:hover, .agenda_cita .paciente_dentalook .boton-enviar:hover {
  background: rgb(34, 188, 191);
}

/***********TABLET************/
@media only screen and (max-width: 768px) {
  /*General*/
  .menu-li a {
    font-size: 60%;
  }
  /*INDEX Comprometidos con nuestros pacientes*/
  .comprometidos {
    height: 650px;
  }
  .comprometidos iframe {
    width: 600px;
    height: 300px;
  }
  .comprometidos h2 {
    padding-top: 45px;
    padding-bottom: 20px;
  }
  /*INDEX Sonrisas DentaLook*/
  .testimonios .div_paciente {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*INDEX Clinicas*/
  .clinicas-box iframe {
    height: 300px;
  }
  /*TRATAMIENTOS*/
  .tarjeta_info {
    width: 350px;
  }
  /*NOSOTROS*/
  .eric {
    display: flex;
    flex-direction: column-reverse;
  }
}
/***********CEL************/
@media only screen and (max-width: 576px) {
  /*General*/
  header nav {
    flex-direction: column;
    align-items: center;
  }
  /*INDEX Comprometidos con nuestros pacientes*/
  .comprometidos {
    height: 550px;
  }
  .comprometidos iframe {
    width: 300px;
    height: 300px;
  }
  /*INDEX Clinicas*/
  .clinicas-box iframe {
    height: 250px;
  }
  /*TRATAMIENTOS*/
  .div_principal_trata {
    grid-template-columns: repeat(1, 1fr);
    grid-row: repeat(10, 1fr);
  }
  /*NOSOTROS*/
  .mis_vis {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80%;
  }
  .nosotros p {
    padding-top: 45px;
  }
  .texto_nosotros {
    font-size: 75%;
  }
  .conoce_titulo {
    font-size: 300%;
  }
  /*AGENDA*/
  .titulo_agenda {
    padding-top: 65px;
  }
  .agenda_cita {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
