$bg-lightblue:rgb(34 188 191);
$bg-darkblue:rgb(35, 114, 189);
$bg-white:white;
$bg-gradient:radial-gradient(circle, rgba(35,114,189,1) 0%, rgba(34,188,191,1) 100%);
$bg-gradient-line:linear-gradient(0deg, rgba(34,188,191,1) 0%, rgba(35,114,189,1) 100%);
$bg-gradient-line1:linear-gradient(0deg, rgba(35,114,189,1) 0%, rgba(34,188,191,1) 100%);
$bg-darkgray:gray;
$bg-lightgray:silver;
$bg-text-shadow:1px 1px 2px white, 0 0 1em white, 0 0 0.2em silver;