.testimonios {

    h2{
        font-family: 'Quicksand', sans-serif;
        font-size: nth($font-size , 1 );
        color: $bg-lightblue;
        text-align: center;
        padding-top: nth($padding-size , 6 );
    }

    .div_paciente{
        font-family: 'Raleway', sans-serif;
        @extend %disposicion;
        grid-template-areas: 
        "pac1 ."
        ". pac2";

        .paciente1, .paciente2{
            font-size: nth($font-size , 3 );
            margin:nth($padding-size , 5 );
            padding-top: nth($padding-size , 5 );
            color: $bg-darkgray;
        }

        .paciente1{
            text-align: left;
            grid-area: pac1;
            p{
                animation-duration: 3s;
                animation-name: bounce;
                @keyframes bounce{
                    from{
                        margin-left: 100%;
                        width: 100%;
                    }
                    to {
                        margin-left: 0%;
                        width: 100%;
                      }
                }
            }
        }

        .paciente2{
            text-align: right;
            grid-area: pac2;
            p{
                animation-duration: 3s;
                animation-name: bounce1;
                @keyframes bounce1{
                    from{
                        margin-left: -100%;
                        width: 100%;
                    }
                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }
            }   
        }
    }
}
